<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Nutrition Store</title>
  <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<ul>
  <li><a href="/">Information</a></li>
  <li><a href="/nutritionStore">Nutrition Store</a></li>
  <li><a href="/trickCenter">Trick Center </a></li>
</ul>
<form th:action="@{/changeNutrition}" th:object="${fox}" method="post">
  <span>Food</span>
  <select name="food">
      <option th:each="food : ${food}"
              th:value="${food.getId()}"
              th:text="${food.getDescription()}"/>
    </select>
    <span>Drink</span>
    <select name="drink">
      <option th:each="drink : ${drink}"
              th:value="${drink.getId()}"
              th:text="${drink.getDescription()}"/>
    </select>
    <button type="submit" value="Change" >Change</button>
</form>
</body>
</html>