body {
  background-color: #212F3C;
  color: white;
  padding-left: 20px;
  font-family: 'BioRhyme', serif;
}
table {
  border-collapse: collapse;
}

td, th {
  border: 2px solid deepskyblue;
  padding: 10px;
  text-align: left;
  font-size: 15px;
}

button {
  border-radius: 15px;
  padding: 5px 5px;
  font-size: 15px;
  text-decoration: none;
  background-color: #27AE60;
  margin: 20px;
  color: white;
  position: relative;
  display: inline-block;
}

.delete {
  border-radius: 15px;
  padding: 5px 5px;
  font-size: 15px;
  color: white;
  position: relative;
  display: inline-block;
  background-color: #E74C3C;
}

.done {
  border-radius: 15px;
  padding: 5px 5px;
  font-size: 15px;
  color: white;
  position: relative;
  display: inline-block;
  background-color: #F1C40F;
}

a {
  color: deepskyblue;
}