<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Calorie Counter</title>
  <link rel="stylesheet" th:href="@{/style.css}" />
  <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
  <meta charset="utf-8" />
</head>
<body>
  <h1>Add or Edit Meal</h1>

  <div class="col-lg-6" >
    <table class="table">
      <tr>
        <th></th>
        <th>DATE</th>
        <th>TYPE</th>
        <th>DESCRIPTION</th>
        <th>CALORIES</th>
      </tr>

      <tr th:each="meal : ${meals}">
        <form th:action="@{/edit}" th:method="PUT">
        <td><input th:type="hidden" th:value="${meal.id}" name="id"> </input></td>
        <td><input th:type="date" th:value="${meal.date}" th:name="date" required="required"> </input></td>
          <td>
            <select th:name="type">
              <option th:each="type : ${types}"
                      th:value="${type.getDescription()}"
                      th:text="${type.getDescription()}"
                      th:selected="${type.getDescription()} == ${meal.type}">
              </option>
            </select>
          </td>
        <td><input th:type="text" th:value="${meal.description}" th:name="description"> </input> </td>
        <td><input th:type="number" th:value="${meal.calories}" th:name="calories" required="required"> </input> </td>
        <td><button class="btn btn-sm btn-warning" type="submit" value="submit">Edit</button> </td>
        </form>
        <td>
          <form th:action="@{/delete}" th:method="DELETE">
            <button class="btn btn-sm btn-danger" type="submit" name = "id" th:value="${meal.id}">delete</button>
          </form>
        </td>
      </tr>

      <tr>
        <form th:action="@{/add}" th:method="POST">
          <td><input th:type="hidden" th:name="id"> </input></td>
          <td><input th:type="date" th:name="date" required="required"> </input></td>
          <td>
            <select th:name="type">
              <option th:each="type : ${types}"
                      th:value="${type.getDescription()}"
                      th:text="${type.getDescription()}">
              </option>
            </select>
          </td>
          <td><input th:type="text" th:name="description"> </input> </td>
          <td><input th:type="number" th:name="calories" required="required"> </input> </td>
          <td><button class="btn btn-sm btn-info" type="submit" value="Submit">Add</button> </td>
        </form>
        <td class="btn btn-sm btn-default"><a th:href="@{/}">Cancel</a></td>
      </tr>

    </table>
  </div>

</body>
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</html>